[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.distutils.bdist_wheel]
universal = true

[project]
name = "wibu-downloader"
version = "2.0.0"
requires-python = ">=3.11"