[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.distutils.bdist_wheel]
universal = true

[project]
name = "asepplugins"
version = "1.0.0"
requires-python = ">=3.11"